nav{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}


.language-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 36px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.language-button {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.language-button.active {
  /* background-color: #2196F3; */
  background-color: var(--titles);
}

.language-button:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.1);
}



/* .nav-ul{
  display: flex;
  gap: 30px;

}
.nav-ul li {
  font-size: 1.5rem;
  list-style: none;
  
}
.nav-ul li a{
  text-decoration: none;
  color: #fff;
  transition: border-bottom 0.5s ease;

}
.nav-ul li a:hover{
  color: var(--titles);
  border-bottom: 1px solid var(--titles);
  
}
.nav-ul li a:active{
  color: var(--titles);
} */